<div class="container-fluid">
  <div class="row">


    <div class="col-xs-6">
    </div>

    <div class="col-xs-6">
      <% @newcoupon.each do |item|%>
      <li>
        <%=item.title%> coupon <%=item.description%>
      </li>
    </div>




  </div>
</div>



<%end%>
